---
import Layout from '@layouts/layout.astro';
import Card from '@components/card/card.astro';
import works from '@lib/routes/_works.json';
---

<Layout optViewTransitions>
	<div class="w-full min-h-screen pt-36 flex flex-col px-4 md:px-8 xl:px-16 py-8 gap-8">
		<section class="flex flex-col md:flex-row gap-2 md:gap-8 items-start md:items-end">
			<h1 
				class="text-5xl uppercase"
				transition:persist
			>
				<span
					data-text="Professional"
					id="description"
					>Professional</span
				>
			</h1>
			<!-- <h1 class="text-2xl uppercase text-gray-400">
				Personal
			</h1>
			<h1 class="text-2xl uppercase text-gray-400">
				Design
			</h1> -->
		</section>
		<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full gap-4 gap-y-16 z-0">
			{
				works.professional.data.map((works) => (
					<Card
						imageSrc={works.imageSrc}
						imageAlt={works.imageAlt}
						title={works.title}
						category={works.category}
						role={works.role}
						route={works.route}
					/>
				))
			}
		</section>
	</div>
</Layout>

<script>
	import {textGlitch} from '@lib/animations/text-effect';

		const description = document.getElementById('description') as HTMLElement
		const descriptionText = description.dataset.text as string

		textGlitch({
			text: descriptionText,
			duration: 50,
			glitch: 2,
			callbackFn: (newText) => {
				description.innerText = newText;
			},
		});

		document.addEventListener('astro:after-swap', ()=>textGlitch)
</script>
