---
import {Navbar} from '@components/navbar';
import {cn} from '@lib/utils/'

interface Props {
	title?: string;
	className?: string
}

const { title="Christopher Alden", className="" } = Astro.props;
---

<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/styles/typography.css">
		<title>{title}</title>
	</head>
	<body class={className}>
		<Navbar client:load/>
		<div class={cn("bg-background justify-start min-h-[100dvh] flex flex-col w-screen text-sm md:text-base", className)}>
			<slot />
		</div>
	</body>

</html>

<style is:global>
	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 10px;
	}

	::-webkit-scrollbar {
		width: 0px;
	}
	::-moz-selection {
		color: white;
		background: #0000FF
	}

	::selection {
		color: white;
		background: #0000FF
	}
	:root {
		background-color: #fafafa;
		min-height: min;
	}
	*{
		box-sizing: border-box;
		user-select: text;
	}
	a {
		all: unset;
	}
	html {
		font-family: 'Montreal', monospace;
	}
	input{
		all: unset;
	}
	button{
		all:unset;
		cursor: pointer;
		user-select: none;
	}
	a{
		-webkit-user-drag: none;
	}
	.no-select{
		user-select: none;
	}
</style>

